---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home page">
  <div
    class="hidden lg:block fixed left-0 top-0 w-full z-50 bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg"
  >
    <nav class="container mx-auto flex justify-between items-center py-4">
      <a
        href="#nosotros"
        class="uppercase underline underline-offset-8 decoration-4 decoration-orange-400 font-bold"
        >Nosotros</a
      >
      <a href="#productos" class="uppercase font-bold">Productos</a>

      <img src="/logo.png" alt="Logo" width="96" />

      <a href="#beneficios" class="uppercase font-bold">Beneficios</a>
      <a href="#contacto" class="uppercase font-bold">Contacto</a>
    </nav>
  </div>

  <div
    class="lg:hidden fixed left-0 top-0 w-full z-50 bg-white bg-opacity-20 backdrop-blur-lg rounded drop-shadow-lg"
  >
    <nav class="flex justify-between items-center px-6">
      <img src="/logo.png" alt="Logo" width="96" />
      <img src="/menu.svg" alt="Menu" width="48" />
    </nav>
  </div>

  <div class="bg-white home-section h-screen"></div>

  <main class="bg-gradient-to-b from-white to-orange-300 pb-20" id="nosotros">
    <div class="container mx-auto grid grid-cols-12 gap-10 pt-20">
      <div class="col-span-5">
        <div class="flex">
          <img src="/about01.png" alt="About" class="w-1/2 pe-4 pt-20" />

          <img src="/about02.png" alt="About" class="w-1/2 ps-4 pb-20" />
        </div>
      </div>

      <div class="col-span-7 my-auto ps-20">
        <span class="uppercase font title text-4xl text-orange-950">Sobre</span>
        <h2 class="subtitle text-8xl -mt-10">nosotros</h2>

        <p class="text-xl mt-6 font-light">
          <span class="font-bold underline decoration-8 underlineCustom"
            >MIEL DE MONTE</span
          > es una empresa familiar que produce miel orgánica en el Impenetrable
          Chaqueño. Desde 1991 desarrolla su actividad en EI Sauzalito, población
          ubicada 300km hacia adentro del trable Chaqueño. EI Sauzalito es un espacio
          en el que aún permanece la comunidad Wichi originaria de la zona, que convive
          con "occidentales" en un complejo proceso de relaciones interétnicas.
        </p>

        <p class="text-xl pt-5">
          Somos una empresa familiar con <span class="font-bold"
            >30 años de experiencia</span
          >, pero siempre buscando mejorar. Queremos brindarte la mejor calidad
          y confianza cuando elijas nuestros productos. Contamos con las
          certificaciones de mayor prestigio en el mercado, el pais y el mundo
        </p>

        <p class="font-bold mt-6 text-xl">
          Desde 10 más profundo del monte Chaqueño, un elixir incomparable a tu
          mesa.
        </p>
      </div>
    </div>
  </main>
</Layout>

<div class="products-section" id="productos">
  <div class="container mx-auto">
    <div class="pb-6 text-center">
      <span class="uppercase font title text-4xl text-orange-950 -ms-36"
        >Nuestros</span
      >
      <h2 class="subtitle text-8xl ms-28 -mt-10">productos</h2>
    </div>

    <div class="text-center w-full md:w-1/2 mx-auto px-4">
      <p class="text-xl py-10">
        Contarnos con <span class="font-bold">más de 5 variedades de miel</span
        >. llevando cada una el nombre del árbol cuyas flores proveen eI néctar
        a las abejas para que estas la fabriquen. Cada variedad posee
        características y colores bien diferenciados.
      </p>
    </div>

    <div class="flex flex-wrap px-4 pb-20">
      <div class="xl:w-1/4 md:w-1/2 p-4 text-center">
        <div class="bg-white p-6 rounded-lg h-full border-8 border-gray-200">
          <img
            class="h-52 rounded w-full object-contain object-center mb-6"
            src="/Productos-04.png"
            alt="content"
          />
          <h2
            class="text-lg mb-4 uppercase underlineCustom underline decoration-8 font-bold"
          >
            Miel de Algarrobo
          </h2>
          <p class="text-lg leading-7">
            Esta miel proviene de la flor del algarrobo. Este árbol florece
            luego del garabato. Las abejas realizan una miel, a partir de esta
            flor, semioscura y liviana, ideal para endulzar infusiones y
            lácteos.
          </p>
        </div>
      </div>

      <div class="xl:w-1/4 md:w-1/2 p-4 text-center">
        <div class="bg-white p-6 rounded-lg h-full border-8 border-gray-200">
          <img
            class="h-52 rounded w-full object-contain object-center mb-6"
            src="/Productos-05.png"
            alt="content"
          />

          <h2
            class="text-lg mb-4 uppercase underlineCustom underline decoration-8 font-bold"
          >
            Miel mistol
          </h2>
          <p class="text-lg leading-7">
            Proviene de la planta melífera y frutal, nativa de las provincias
            del centro-norte. Utilizada en medicina tradicional, tiene
            propiedades pectorales y es utilizado para el tratamiento de cólicos
            biliares.
          </p>
        </div>
      </div>

      <div class="xl:w-1/4 md:w-1/2 p-4 text-center">
        <div class="bg-white p-6 rounded-lg h-full border-8 border-gray-200">
          <img
            class="h-52 rounded w-full object-contain object-center mb-6"
            src="/Productos-06.png"
            alt="content"
          />
          <h2
            class="text-lg mb-4 uppercase underlineCustom underline decoration-8 font-bold"
          >
            Miel de Chañar
          </h2>
          <p class="text-lg leading-7">
            Esta variedad de miel proviene de la flor del chañar. Forece en
            tercer lugar, luego del garabato y el algarrobo. Respecto de sus
            carac- terísticas organolépti- cas es una miel semioscura y fuerte.
          </p>
        </div>
      </div>

      <div class="xl:w-1/4 md:w-1/2 p-4 text-center">
        <div class="bg-white p-6 rounded-lg h-full border-8 border-gray-200">
          <img
            class="h-52 rounded w-full object-contain object-center mb-6"
            src="/Productos-07.png"
            alt="content"
          />
          <h2
            class="text-lg mb-4 uppercase underlineCustom underline decoration-8 font-bold"
          >
            Miel Multifloral
          </h2>
          <p class="text-lg leading-7">
            Esta miel aparece en el mayor esplendor de la primavera, las abejas
            toman néctar las flores del monte y fabrican una miel oscura y
            fuerte al paladar, varia según la proporción de flores que posea.
          </p>
        </div>
      </div>
    </div>

    <div class="text-center">
      <span
        class="uppercase font title text-xl lg:text-4xl text-orange-950 lg:ms-6"
        >Por qué</span
      >
    </div>
  </div>
</div>

<div class="why-us-section" id="beneficios">
  <div class="text-center relative mb-24">
    <h2 class="relative black-subtitle text-6xl lg:text-8xl z-10">
      <span class="subtitle">¿</span>elegirnos<span class="subtitle">?</span>
    </h2>
    <img
      src="/cosito-16.svg"
      alt="Cosito"
      class="w-full lg:w-1/3 absolute -top-2 left-1/2 transform -translate-x-1/2"
    />
  </div>
  <div class="container mx-auto pb-40">
    <div class="grid grid-cols-1 lg:grid-cols-12">
      <div class="col-span-1 px-8 relative">
        <img src="/elegirnos-09.png" alt="Why us" />

        <div
          class="bg-white shadow-xl rounded-lg absolute -bottom-20 left-1/2 transform -translate-x-1/2 px-8 py-6 lg:py-10 w-3/4"
        >
          <h4 class="uppercase text-center font-bold text-xl">Nuestras</h4>
          <h4
            class="uppercase text-center font-bold underline decoration-8 underlineCustom text-xl"
          >
            certificaciones
          </h4>
          <img src="/barrow.svg" width="32" class="mx-auto mt-4" />
          <div class="hidden lg:block">
            <p class="pt-8 text-pretty">
              • <span class="font-bold">"Sin TACC"</span> la miel es apta para celíacos.
            </p>
            <p>
              • <span class="font-bold">"Non GMO"</span> las abejas no han tomado
              néctar de flores modificades genéticamente.
            </p>
            <p>
              • <span class="font-bold">"OIA"</span> indica que la miel es orgánica
              y fue produc- Cida sin agroquímicos.
            </p>
            <p>
              • <span class="font-bold">"Alimentos Argentinos"</span> distingue a
              los alimentos con una calidad diferenciada,
            </p>
            <p>
              • <span class="font-bold">"Kosher"</span> respete la religión judía.
            </p>
          </div>
        </div>
      </div>

      <div class="col-span-1 px-8 pt-32 relative">
        <img src="/elegirnos-10.png" alt="Why us" />

        <div
          class="bg-white shadow-xl rounded-lg absolute -bottom-20 left-1/2 transform -translate-x-1/2 px-8 py-6 lg:py-10 w-3/4"
        >
          <h4 class="uppercase text-center font-bold text-xl">
            La naturalidad de
          </h4>
          <h4
            class="uppercase text-center font-bold underline decoration-8 underlineCustom text-xl"
          >
            nuestros productos
          </h4>
          <img src="/barrow.svg" width="32" class="mx-auto mt-4" />
          <div class="hidden lg:block">
            <p class="pt-8 text-pretty">
              Nuestras colmenas se encuentran ubicadas en un radio de <span
                class="font-bold"
                >200 km de extensión de bosque nativo prístino</span
              >, donde no existen emprendimientos agropecuarios que utilicen
              agroquímicos o monocultivos que perjudiquen la ecología del
              ambiente o a la actividad de nuestras abejas.
            </p>
          </div>
        </div>
      </div>

      <div class="col-span-1 px-8 pt-32 relative">
        <img src="/elegirnos-11.png" alt="Why us" />

        <div
          class="bg-white shadow-xl rounded-lg absolute -bottom-20 left-1/2 transform -translate-x-1/2 px-8 py-6 lg:py-10 w-3/4"
        >
          <h4 class="uppercase text-center font-bold text-xl">Producto</h4>
          <h4
            class="uppercase text-center font-bold underline decoration-8 underlineCustom text-xl"
          >
            orgánico
          </h4>
          <img src="/barrow.svg" width="32" class="mx-auto mt-4" />
          <div class="hidden lg:block">
            <p class="pt-8 text-pretty">
              Las plagas que afectan a las abejas son combatidas con un producto
              cuyo principio activo es de origen biológico y no químico
              garantizando asi el cuidado del medio ambiente y de tu salud. Cabe
              aclarar que <span class="font-bold">la miel de monte es pura</span
              >, sin el agredado de glucosa, ni de ningún aditivo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-section" id="contacto">
  <div class="container mx-auto py-20 px-4 md:px-6 lg:px-0">
    <div
      class="bg-white border-4 border-gray-300 rounded-2xl shadow-lg w-full lg:w-1/2 mx-auto"
    >
      <div class="pt-10 text-center">
        <span
          class="uppercase font title text-xl md:text-4xl text-orange-950 -ms-20"
          >Comunicate</span
        >
        <h2 class="subtitle text-5xl md:text-8xl md:ms-14 -mt-6 md:-mt-10">
          con nosotros
        </h2>
      </div>

      <div class="mx-4 md:mx-20 pt-6 pb-10">
        <div class="grid grid-cols-1 gap-x-6 gap-y-4 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label
              for="first-name"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Nombre</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="first-name"
                id="first-name"
                autocomplete="given-name"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ps-2"
                placeholder="Juan García"
              />
            </div>
          </div>

          <div class="sm:col-span-3">
            <label
              for="last-name"
              class="block text-sm font-medium leading-6 text-gray-900"
              >Email</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="last-name"
                id="last-name"
                autocomplete="family-name"
                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ps-2"
                placeholder="jgarcia@gmail.com"
              />
            </div>
          </div>
        </div>

        <label
          for="about"
          class="block text-sm font-medium leading-6 text-gray-900 mt-4"
          >Mensaje</label
        >
        <div class="mt-2">
          <textarea
            id="about"
            name="about"
            rows="3"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 ps-2"
            placeholder="Hola, me gustaría saber más sobre sus productos."
          ></textarea>
        </div>

        <div class="mt-6">
          <button
            type="button"
            class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-orange-950 hover:bg-orange-850 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer-section">
  <div class="container mx-auto text-white">
    <div
      class="grid grid-cols-1 md:grid-cols-6 lg:grid-cols-12 px-4 md:px-8 lg:px-0 py-10"
    >
      <div class="col-span-2">
        <img src="/logo.png" alt="Logo" width="126" />
      </div>

      <div class="col-span-3 mt-6 md:mt-0">
        <p class="text-2xl font-bold pb-4">Ubicación</p>
        <p class="text-xl">Miel de Monte</p>
        <p class="text-xl">Sauzalito, Chaco</p>
        <p class="text-xl">Argentina</p>
      </div>

      <div class="col-span-2 lg:col-span-3 mt-6 lg:mt-0">
        <p class="text-2xl font-bold pb-4">Redes sociales</p>
        <div class="flex">
          <div class="bg-white rounded-full p-2 w-12">
            <img src="/facebook.svg" alt="Facebook" width="48" />
          </div>
          <div class="bg-white rounded-full p-2 w-12 mx-4">
            <img src="/instagram.svg" alt="Instagram" width="48" />
          </div>
          <div class="bg-white rounded-full p-2 w-12">
            <img src="/whatsapp.svg" alt="Whatsapp" width="48" />
          </div>
        </div>
      </div>

      <div class="col-span-3 mt-6 lg:mt-0 lg:col-span-4">
        <p class="text-2xl font-bold pb-4">Contáctanos</p>
        <div class="md:flex">
          <div class="pe-10">
            <p>Mercado Externo</p>
            <p>Enrique Rimondino</p>
            <p>+54 9 3718 15-40-0000</p>
            <p>erimondino@yahoo.com.ar</p>
          </div>
          <div class="mt-6 md:mt-0">
            <p>Mercado Interno</p>
            <p>Camilo Rimondino</p>
            <p>+54 9 3718 15-40-0000</p>
            <p>rimondinocamilo@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get all the links
  let links: NodeListOf<HTMLElement> = document.querySelectorAll("nav a");

  // Add a click event listener to each link
  links.forEach((link: HTMLElement) => {
    link.addEventListener("click", function (this: HTMLElement) {
      // Remove the active class from all links
      links.forEach((link: HTMLElement) => {
        link.classList.remove(
          "underline",
          "underline-offset-8",
          "decoration-4",
          "decoration-orange-400"
        );
      });

      // Add the active class to the clicked link
      this.classList.add(
        "underline",
        "underline-offset-8",
        "decoration-4",
        "decoration-orange-400"
      );
    });
  });
</script>

<style>
  .title {
    font-family: "Poppins", sans-serif;
  }

  .black-subtitle {
    font-family: "Sacramento", sans-serif;
    color: #431407;
  }

  .subtitle {
    font-family: "Sacramento", cursive;
    color: #ffaf21;
  }

  .underlineCustom {
    text-decoration-color: #e1e193;
    text-underline-offset: 3px;
  }

  .products-section {
    background-color: #fff3e5;
  }

  .why-us-section {
    background-color: #ffffff;
  }

  .color-green {
    border-color: #b6cd0f;
  }

  .contact-section {
    background-image: url("/footer-12.png");
  }

  .home-section {
    background-image: url("/banner-15.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  .footer-section {
    background-color: #e6953a;
  }

  .banner {
    width: 100%;
    height: 200px;
    background-color: white; /* Color de fondo blanco */
    position: relative;
    text-align: center;
    padding-top: 50px;
  }

  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid orange; /* Triángulo naranja en la parte superior */
  }

  .banner h1 {
    font-family: "Brush Script MT", cursive; /* Fuente cursiva elegante */
    color: orange; /* Texto naranja */
  }

  .testingBg {
    background-color: #fff3e5;
  }

  .bottomHeader {
    background-image: url("/cosito-16.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 180px;
  }
</style>
